<div class="overlay"></div>
<div class="intrude-less">
    <header id="header" class="inner">
        <script src="https://cdn.bootcdn.net/ajax/libs/require.js/2.3.6/require.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <a href="/" class="profilepic">
            <% if (theme.animate){ %>
            <img lazy-src="<%- url_for(theme.avatar) %>" class="js-avatar">
            <%}else{%>
            <img src="<%- url_for(theme.avatar) %>" class="js-avatar" style="width: 100%;height: 100%;opacity: 1;">
            <%}%>
        </a>

        <hgroup>
          <h1 class="header-author"><a href="/"><%=theme.author%></a></h1>
        </hgroup>

        <% if (theme.aboutme){ %>
        <p class="header-aboutme"><%=theme.aboutme%></p>
        <%}%>

        <% if (theme.search_box){ %>
            <form>
                <input type="text" class="search" id="search" placeholder="搜索" autocomplete="off">
            </form>
            <div id="local-search-result" class = "local-search-result"></div>
        <%}%>
        <% if (theme.search_box){ %>
            <script type="text/javascript">
                (function() {
                    'use strict';
                    function getMatchData(keyword, data) {
                        var matchData = [];
                        for(var i =0;i<data.length;i++){
                            if(data[i].title.toLowerCase().indexOf(keyword)>=0) 
                                matchData.push(data[i])
                        }
                        return matchData;
                    }
                    var $input = $('#search');
                    var $resultContent = $('#local-search-result');
                    $input.keyup(function(){
                        $.ajax({
                            url: '/search.json',
                            dataType: "json",
                            success: function( json ) {
                                var str='<ul class=\"search-result-list\">';                
                                var keyword = $input.val().trim().toLowerCase();
                                $resultContent.innerHTML = "";
                                if ($input.val().trim().length <= 0) {
                                    $resultContent.empty();
                                    $('#switch-area').show();
                                    return;
                                }
                                var results = getMatchData(keyword, json);
                                if(results.length === 0){
                                    $resultContent.empty();
                                    $('#switch-area').show();
                                    return;
                                } 
                                for(var i =0; i<results.length; i++){
                                    str += "<li><a href='"+ results[i].url +"' class='search-result-title'>"+ results[i].title +"</a></li>";
                                }
                                str += "</ul>";
                                $resultContent.empty();
                                $resultContent.append(str);
                                $('#switch-area').hide();
                            }
                        });
                    });
                })();
            </script>
        <%}%>


        <div id="switch-area" class="switch-area">
            <div class="switch-wrap">
                <section class="switch-part switch-part1">
                    <nav class="header-menu">
                        <ul>
                        <% for (var i in theme.menu){ %>
                            <li><a  style="font-size: 20px;" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                        <%}%>
                        </ul>
                    </nav>
                    <nav class="header-nav">
                        <ul class="social">
                            <% for (var i in theme.subnav){ %>
                                <a class="fl <%= i %>"  target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><%= i %></a>
                            <%}%>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </header>
</div>
